<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: headerFragment"></head>

<body>
<div id="wrapper">

    <nav th:include="fragments/navbartop :: navbartop" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0"></nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:inline="text">Posts</h1>
            </div>
        </div>

    </div>
</div>

<footer th:include="fragments/footer :: footerFragment"></footer>

</body>

</html>
